#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
  behaviors {
    td6: BT0_DISC0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&bt BT_SEL 0>, <&bt BT_DISC 0>;
        };
      td7: td_3orj {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&kp N3>, <&kp j>;
      };

  }

  keymap {
      compatible = "zmk,keymap";

      default_layer {
          bindings = <
            &kp N7 &kp N8 &kp N9
            &kp N4 &kp N5 &kp N6
            &td6   &kp N2 &tb7
          >;
      };
  };
};
